<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>Hello World</display-name>
  <description>Servlet example: Hello World</description>

  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.lowagie.examples.general.webapp.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutSimplePdf</servlet-name>
    <servlet-class>com.lowagie.examples.general.webapp.OutSimplePdf</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProgressServlet</servlet-name>
    <servlet-class>com.lowagie.examples.general.webapp.ProgressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SilentPrint</servlet-name>
    <servlet-class>com.lowagie.examples.general.webapp.SilentPrintServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/servlet/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutSimplePdf</servlet-name>
    <url-pattern>/servlet/simple.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProgressServlet</servlet-name>
    <url-pattern>/servlet/progress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SilentPrint</servlet-name>
    <url-pattern>/servlet/silentprint</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>