/* $Date: 2008-04-18 16:50:32 -0400 (Fri, 18 Apr 2008) $ */

body  {
	background-color : #FF7700;
	font-family : Arial, Helvetica;
	font-size : 11pt;
	margin : 0px;
}

pre {
	display: block;
	overflow: auto;
}

#content  {
	background-color : #FFFFFF;
	position : absolute;
	left : 210px;
	top : 0px;
	right : 130px;
	padding : 10px;
	border-left : solid 1px #000000;
}

#navigation  {
	position : fixed;
	top : 0px;
	left : 0px;
}

#itext  {
	display : block;
	background-color : #000000;
	color : #FFFFFF;
	text-align : center;
	border-bottom : solid 1px #FFFFFF;
	width : 210px;
}

#links  {
	display : block;
	width : 175px;
	margin : 10px;
	text-align : right;
}

#sourceforge  {
	position : fixed;
	bottom : 0px;
	left : 0px;
}

#commercial  {
	padding: 0px;
	position : absolute;
	right : 5px;
	top : 5px;
	width : 120px;
	float : right;
	background-color : #000000;
}

#footer  {
	font-size : 8pt;
	margin-top : 250px;
}

#side  {
	float : right;
	width : 160px;
	overflow : auto;
	padding : 3px;
	border : solid 2px #FF7700;
}

blockquote  {
	border-color : #FF7700;
	border-style : groove;
	padding : 3px;
}

a  {
	color : #B31800;
	text-decoration : none;
}

a:hover  {
	color : #B35300;
	text-decoration : underline;
}

.navigation  {
	border-bottom : 1px dotted #FFFFFF;
	text-decoration : none;
	display : block;
	font-size : 11pt;
	color : #FFFFFF;
	width : 190px;
	margin : 1px;
}

.navigation:hover  {
	background-color : #FFFFFF;
}

.author  {
	color : #FF7700;
	font-weight : bold;
	text-decoration : none;
}

.amazonlinks  {
	color : #FFFFFF;
	text-decoration : underline;
	font-size : 8pt;
	display: block;
}

.header  {
	color : #FF7700;
	font-size : x-large;
}

.title  {
	color : #FF2200;
	font-size : large;
	margin-top : 15px;
}

.small  {
	font-size : 9pt;
}

.topic  {
	display: list-item;
	list-style : circle inside;
}

.sidetitle  {
	color : #FF7700;
	font-weight : bold;
	margin-bottom : 5px;
}

.logo  {
	margin : 15px;
}

.commandline  {
	font-size: 8pt;
	margin : 5px;
	color : #B35300;
}

.firefox {
	margin: 2px;
	text-align: Center;
	display: block;
}