/* $Date: 2008-04-18 16:50:32 -0400 (Fri, 18 Apr 2008) $ */

body { 
	background-color: #FFFFFF;
	font-family: Arial, Helvetica;
	font-size: 11pt;
	margin: 0px;
}

td {
	font-family: Arial, Helvetica;
	font-size: 11pt;
}

H1 {
	background-color: #100670;
	display: block;
	margin: 0px;
	padding: 10px;
	color: #8F8F8F;
}

H2 {
	display: block;
	text-align: right;
	margin: 0px;
	padding: 10px;
	color: #100670;
	background-color: #8F8F8F;
	border-bottom: solid #100670 15px;
}

pre {
	display: block;
	overflow: auto;
}

ul {
	margin: 0px;
}

li {
	display: list-item;
	list-style: circle outside;
}

#content {
	border-left: dotted 1px;
	position: absolute;
	left: 125px;
	padding: 5px;
}

#sidebar {
	background-color: #817BBD;
	width: 350px;
	padding: 5px;
	margin: 5px;
	float: right;
	width: 190px;
	font-size: 9pt;
}

#example {
	font-size: 10pt;
	border-left: double #100670;
	margin: 15px;
	padding: 5px;
}

.toc {
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: outset #8F8F8F;
	background-color: #817BBD;
}

.chapter {
	margin-top: 5px;
	display: block;
	font-size: 12pt;
	font-weight: bold;
	color: #4D4970;
}

.commercial {
	float: left;
	width: 125px;
}

a  {
	color: #100670;
	text-decoration: none;
}

a:hover  {
	color: #4D4970;
	text-decoration: underline;
}

.title  {
	color: #1B09BD;
	font-size: 14pt;
}

.sidetitle  {
	font-size: 12pt;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 5px;
}

.subtitle  {
	font-size: 12pt;
	color: #817BBD;
	font-weight: bold;
	margin-bottom: 5px;
}

.commandline  {
	font-size: 10pt;
	color: #707070;
}

.example {
	padding: 3px;
	border-top: dotted #AFAFAF 1px;
}

.source {
	font-size: 11pt;
}

.description {
	font-size: 11pt;
}

.logo {
	float: left;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 5px;
}

.small  {
	font-weight: bold;
	font-size : 8pt;
}

.top  {
	display: block;
	padding: 15px;
	text-align: right;
	color: #8F8F8F;
	font-size : 8pt;
}