
name: OpenPDF checkstyle
on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle job
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1
    - name: Run check style
      uses: dbelyaev/action-checkstyle@v1.2.1
      with:
        checkstyle_config: 'checkstyle.xml'
        reporter: 'github-pr-check'
        filter_mode: nofilter
        level: error
        fail_on_error: true
